<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.db.mapper.db1.ExecMapper">
    <resultMap id="entityMap" type="com.example.db.entity.Exec">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="testTime" jdbcType="TIMESTAMP" property="testTime"/>
        <result column="dbtype" jdbcType="VARCHAR" property="dbtype"/>
        <result column="tbname" jdbcType="VARCHAR" property="tbname"/>
        <result column="nrows" jdbcType="TINYINT" property="nrows"/>
        <result column="ncols" jdbcType="TINYINT" property="ncols"/>
        <result column="abbr" jdbcType="VARCHAR" property="abbr"/>
        <result column="cmd" jdbcType="VARCHAR" property="cmd"/>
        <result column="cost" jdbcType="TIMESTAMP" property="cost"/>
        <result column="memG" jdbcType="TINYINT" property="memG"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="selectAll" resultMap="entityMap">
        select * from exec
    </select>

    <insert id="insert" parameterType="com.example.db.entity.Exec" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exec(testTime, dbtype, tbname, nrows, ncols, abbr, cmd, cost, memG, remark) VALUES(#{testTime}, #{dbtype}, #{tbname}, #{nrows}, #{ncols}, #{abbr}, #{cmd}, #{cost}, #{memG}, #{remark})
    </insert>

    <delete id="delete">
        DELETE FROM exec
    </delete>

    <update id="truncate">
        TRUNCATE TABLE exec
    </update>
</mapper>